.grid {
    display: grid;
    border: 2px blue solid;
    height: 500px;
    width: 500px;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-gap: 5px;
    grid-template-areas: "a a a a"
    "b c d e"
    "f g h i";
  }
  
  .a {
    grid-area: a;
    background-color: yellow;
  }
  
  .b {
    grid-area: b;
    background-color: green;
  }
  
  .c {
    grid-area: c;
    background-color: pink;
  }
  .box {
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }
