* {
    box-sizing: border-box; 
    font-size: 0px;
}


#box {
    background-color: #F5C6D6;
    height: 100px;
    width: 100%;
    border: 5px solid white;
}

#box1, #box2, #box3, #box4
{
    width: 25%;
    height: 100px;
    background-color: #EE2E84;
    border: 5px solid white;
    display: inline-block;
}

#blue1, #blue2 {
    width: 50%;
    height: 100px;
    background-color: #85CFD8;
    border: 5px solid white;
    display: inline-block;
    
}

#green1 {
    width: 75%;
    height: 100px;
    background-color:#8DC63F;
    border: 5px solid white;
    display: inline-block;
}

#orange2 {
    width: 25%;
    height: 100px;
    background-color:#E76E34;
    border: 5px solid white;
    display: inline-block;
}


@media (max-width: 768px) {
   #orange2, #green1, #blue1, #blue2, #box1, #box2, #box3, #box4  { 
        width: 100%;
    }
}


