.box{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-color: white;
}

/* .box:hover {
    background-color: blue;
}

.box:active {
    background-color: red;
}

.box:focus {
    background-color: yellow;
} */
