#baddies {
    display: inline-block;
    width: 100%;
    border: 20px;
}

#goombas {
    display: inline-block;
    width: 20%;
}

#bob-omb {
    display: inline-block;
    width: 20%
}

#cheep-cheep {
    display: inline-block;
}

#goombapic {
    margin-left: 70px;
    margin-top: 30px;
}

h1{
    font-size: 80px;
    color: red;
    text-align: center;
}

#goombamath {
    margin-left: 45px;
    display: inline-block;
    width: 33%;
}



#bombmath {
    display: inline-block;
    width: 33%;
}

#cheepmath {
    display: inline-block;
}

body {
    background-color: lightblue;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }